spring:
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB
  data:
    redis:
      host: 127.0.0.1
      port: 6379
      password: database
      timeout: 2s
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      data-source-properties:
        sslmode: require
        prepareThreshold: 0
        preferQueryMode: simple
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate.format_sql: true
    show-sql: true

logging:
  level:
    org.springframework.data.redis: DEBUG   # ?? ?? ???

jwt:
  secret: ${JWT_SECRET}
  access-token-validity-ms: 900000
  refresh-token-validity-ms: 604800000

ncp:
  storage:
    region: kr-standard
    endpoint: https://kr.object.ncloudstorage.com
    accessKey: ${NCP_ACCESS_KEY}
    secretKey: ${NCP_SECRET_KEY}